div.author {
	display: flex;
	align-items: center;
}
div.author ewfImage {
	margin-right: .4em;
	width: 2em;
	height: 2em;
	border-radius: 1em;
}
div.author .date {
	font-size: .8em;
}

ewfUnorderedLineList.tag > ewfComponentListItem, span.editorTag {
	font-size: .8em;
	margin-right: .25em;
	border-radius: .5em;
	padding: .25em .5em;
}

ewfUnorderedLineList.tag > ewfComponentListItem {
	border: 1px solid #ddd;
	color: #aaa;
}

span.editorTag {
	background-color: #818a91;
	color: white;
}
span.editorTag ewfActionControlAllStylesAllStates {
	color: inherit;
}