div.banner {
	background-color: #5CB85C;
	padding: 2em;
	text-align: center;
	color: white;
}
div.banner > div {
	font-size: 3.5em;
	font-weight: bold;
	text-transform: lowercase;
}
div.banner > p {
	font-size: 1.5em;
	margin-top: 0;
	font-weight: lighter;
}

div.author {
	display: flex;
	align-items: center;
}
div.author ewfImage {
	margin-right: .4em;
	width: 2em;
	height: 2em;
	border-radius: 1em;
}
div.author .date {
	font-size: .8em;
}

ewfUnorderedLineList.tag > ewfComponentListItem, span.editorTag {
	font-size: .8em;
	margin-right: .25em;
	border-radius: .5em;
	padding: .25em .5em;
}

ewfUnorderedLineList.tag > ewfComponentListItem {
	border: 1px solid #ddd;
	color: #aaa;
}

span.editorTag {
	background-color: #818a91;
	color: white;
}
span.editorTag ewfActionControlAllStylesAllStates {
	color: inherit;
}